  * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  :root {
    --text-color-basic: #476486;
    --nav-elements-color: #cce5ff;
    --primaryColor: #e8e8e8;
    --primary-text-Color: #7b7b7b;
  }

  .main {
    display: flex;
    width: 100%;
  }

  /* section left navbar  */

  .left-section-nav {
    background-color: var(--text-color-basic);
    width: 16vw;
    height: 100vh;
      display: flex;
      transition: 0.5s all;
   
    flex-direction: column;
    align-items: center;
    .menu-open{
      display: none;
    }
  }
  .left-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50%;
  }
  .nav-left-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-left-list-item a {
    text-decoration: none;
    color: var(--nav-elements-color);
    font-family: poppins;
    font-size: 16px;
  }

  /* right section */

  /* right section upper navbar */
  .right-section-main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .right-navbar-upper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    box-shadow: 1px 1px 1px var(--primaryColor);
  }

  #search-input {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--primaryColor);
    border: none;
    font-family: poppins;
    font-size: 20px;
    color: var(--primary-text-Color);
    padding-left: 65px;
    cursor: pointer;
  }
  #search-input:focus {
    outline: none;
  }
.menu-icon{
  display: none;
}
  .right-navbar-input {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .search-input-label {
    display: flex;
    align-items: center;
    position: absolute;

    margin-left: 25px;
    gap: 10px;
    cursor: pointer;
  }
  .upper-right-navbar-half-1 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .search-input-button button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
  }
  .Label-placeholder {
    all: unset;
    font-family: poppins;
    font-size: 20px;
    display: block;
    color: var(--primary-text-Color);
  }
  .upper-right-navbar-half-2 {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 10px;
  }
  .upper-right-navbar-half-2 h3 {
    all: unset;
    font-family: poppins;
    font-size: 16px;
    color: var(--primary-text-Color);
  }
  .upper-right-navbar-half-2 button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
  }
/* navbar at mobile */

.phone-navbar-section{
  width: 100%;
  height: 100vh;
  background-color: var(--text-color-basic);
display: none;


}
.exit-icon{
  padding: 20px;
}
.mobile-navbar-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  margin-top: 100px;
  align-items: center;
  

}
.mobile-navbar-list li a{
 text-decoration: none;
 color: var(--nav-elements-color);
 font-size: 16px;
 font-family: poppins;
 
  
}
  /* right section main information */

  .right-main {
    background-image: url(/assets/images/cloud-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
    
  }
  .current-weather-details-1 {
    width: 32vw;
    height:400px;
    background-color: #ffffff00;
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  
  /* margin-left: 20px; */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.13);
    /* background: linear-gradient(157deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.55) 55%); */
  }

  .text-upper-current-weather {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    /* width: 350px; */
    h1 {
      all: unset;
      color: var(--text-color-basic);
      font-family: poppins;
      font-size: clamp(1rem, 2vw, 3rem);
      font-weight: 500;
    }
    p {
      
      font-family: poppins;
      color: var(--primary-text-Color);
      font-weight: 500;
      font-size: 14px;
    }
  }

  .text-down-current-weather {
    display: flex;
    flex-direction: column;
  }
  .down-text-1 {
    line-height: 30px;

    h1 {
      all: unset;
      font-size: 3rem;
      font-family: poppins;
      color: var(--text-color-basic);
    }
    p {
      font-family: poppins;
      color: var(--primary-text-Color);
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  .down-text-2 {
    margin-top: 25px;
    font-family: poppins;
    font-size: 16px;
    color: var(--primary-text-Color);
  }
  .current-weather-details-1-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  .current-weather-1-image img {
    
    width: 13vw;
    height: auto;
    margin-top: 70px;

  }
  .right-main-information-upper {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    justify-content: center;
    /* margin-left: 30px; */
     flex-wrap: wrap;
    
  }

  .current-weather-details-2 {
    /* height: 432px; */
    background-color: #ffffff00;
    border-radius: 20px;
  padding: 30px 20px;
    width: 20vw;
    height:400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.13);
    h1 {
      all: unset;
      font-size: 1.7rem;
      font-family: poppins;
      color: var(--text-color-basic);
      font-weight: 500;
    }
  }
  .details-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .detail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: poppins;
    font-size: 1rem;
    color: var(--text-color-basic);
    background-color: #4764862d;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .current-weather-details-3 {
    background-color: #ffffff00;
    border-radius: 20px;
    padding: 30px 20px;
    width: 15vw;
  height:400px;
    display: flex;
    align-items: center;
    gap: 120px;

    flex-direction: column;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.13);
    h1 {
      all: unset;
      font-size: 1.7rem;
      font-family: poppins;
      color: var(--text-color-basic);
      font-weight: 500;
    }
  }
  .saved-cities-information {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 32px;
      color: var(--primary-text-Color);
      opacity: 50%;
    }
  }

  .next-day-forecast {
    width: 15%;
    /* height: 20%; */
    display: flex;
    flex-direction: column;
  gap: 20px;
    
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.13);
    align-items: center;
    border-radius: 20px;
    padding-bottom: 60px;
  }
 
  .next-day-forecast-text h2 {
    all: unset;
    font-size: 24px;
    font-family: poppins;
    color: var(--text-color-basic);
  }
  .next-day-forecast-text {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--primary-text-Color);
  }
  .next-day-forecast-temperature {
    h2 {
      all: unset;
      font-size: 2rem;
      color: var(--text-color-basic);
      font-family: poppins;
    }
  }
  .right-main-information-down {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  }
  .js-weather-icon-forecast{
    width: 150px;
    height: 150px;
  }

.material-symbols-outlined{
scale: 1.5;
}
  /* responsiveness */



  @media (max-width:1550px){
   
  }
  @media (max-width:1444px) {
   .nav-left-list-item a{
    display: none;
    
   }
   
   .left-section-nav{
    width: 100px;
    padding-top: 50px;
    .menu-open{
      display: block;

     
    }
    
   }
  }
  @media (max-width:1335px) {
    .current-weather-details-3{
      display: none;
    }
    .text-upper-current-weather h1{
      font-size: 32px;
    }
    .current-weather-1-image img{
      width: 150px;
    }
    .upper-right-navbar-half-2{
      display: none;
    }
    .details-list{
      gap: 20px;
    }
    .current-weather-details-1{
      width: 40vw;
    }
    .current-weather-details-2{
      width: 30vw;
    }
  }
  @media (max-width:1300px) {
    .current-weather-details-1{
      width: 35vw;
    }
    .current-weather-details-2{
      width: 30vw;
    }
    .js-weather-icon-forecast{
    width: 120px;
    height: 120px;
  }
  .next-day-forecast-temperature{
    h2{
      font-size: 1.5rem;
    }
  }
.next-day-forecast-text{
  h2{
    font-size: 1.2rem;
  }
}
  
  }
  @media (max-width:1060px) {
   .left-section-nav{
    display: none;
   }
   .current-weather-details-1{
      width: 40vw;
    }
    .current-weather-details-2{
      width: 35vw;
    }
    .menu-icon{
  display: flex;
}
 .right-navbar-upper {
    justify-content: space-around;
    align-items: center;
   
    
  }
  .mobile-navbar-list li a{

 font-size: 20px;
 
 
  
}


  }
  @media (max-width:900px) {
  .right-main-information-upper{
    flex-direction: column;
    width: 100%;
   align-items: center;

  }
 .right-navbar-upper {
    justify-content: space-around;
    align-items: center;
   
    
  }
  
   .current-weather-details-1{
      width: 80%;
    }
    .current-weather-details-2{
      width: 80%;
    }
    .right-main-information-down{
      display: none;
    }
  }
  
  
  @media (max-width:540px) {
  #search-input {
    width: 200px;
    height: 40px;
   
    font-size: 16px;
    
  }
   .search-input-button button {
    height: 40px;
    width: 40px;
    img{
      height: 20px;width: 20px;
    }
  }
  .Label-placeholder {
    
    font-size: 16px;
    
  }
  .search-input-label img{
    width: 20px;
    height: 20px;
  }
 
  }
  
  @media (max-width:460px) {
.current-weather-1-image img{
      width: 130px;
    }
    .text-upper-current-weather h1{
      font-size: 25px;
    }
    .current-weather-details-1{
      width: 70%;
      /* height: 50vh; */
      justify-content: space-between;
    }
    .current-weather-details-2{
      width: 70%;
      /* height: 50vh; */
    }
     .right-navbar-upper {
    justify-content:center;
    align-items: center;
   gap: -100px;
    
  }
    #search-input {
    width: 150px;
    height: 40px;
   
    font-size: 16px;
   
  }
  .down-text-1 {
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 0.8rem;
    }
  }
  }
  
  @media (max-width:460px) {
.current-weather-1-image img{
      width: 110px;
    }
    .current-weather-details-1{
      /* height: 50vh; */
      flex-direction: column-reverse;
      gap: 50px;
      justify-content: center;
     
    }
  }
  
  @media (max-width:350px) {
    .down-text-2 {
    margin-top: 25px;
    font-family: poppins;
    font-size: 12px;
    color: var(--primary-text-Color);
  }
    #search-input {
    width: 120px;
    
   
  }
  .search-input-label img{
    display: none;
  }
  .detail {
    
    font-size: 0.8rem;
    
  }
}